@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap');

body {
  height: 100%;
  margin: 0;
  background-image: url("/images/snowGif.gif");
  background-size: auto;
  font-family: "Poppins", sans-serif, Verdana, sans-serif;
}

/* MODE NOEL + ICONES */

#nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

#modeNoel{
  font-family: "Poppins", sans-serif;
  padding: 10px;
  margin: 10px;
  background-color: rgba(60, 115, 181, 0.7);
  color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 5px #001537;
}

/* TITRE */

h1 {
  position: relative;
  color: #bf242e;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 175px;
  margin-top: 50px;
  margin-bottom: 0;
  left: -65px;
}

#planete {
  position: absolute;
  display: inline-block;
  height: 165px;
  width: 165px;
  /*background-image: url("/images/planete_noel.png");
  background-size: contain;*/
  top: 22%;

  -webkit-animation-name: moonOrbit;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 15s;
}

#tampon{
  background-image: url("/images/tampon_christmas.png");
  background-size: cover;
  height: 200px;
  max-width: 460px;
  margin: auto;
  position: relative;
  top: -220px;
  left: 420px;
  z-index: 1;
}

h2 {
  color:#c91100;
  text-align: center;
  font-size: 70px;
  margin: 0;
  padding: 50px;
  font-family: "Poppins", sans-serif;
}


/*INTRO*/

/*texte d'intro + contour guirlande*/

.introduction {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 800px;
  max-height: 357px;
  margin-bottom: 120px;
}

#guirlandeImage{
  position: absolute;
  z-index: 1;
  width: 100%;
}

.introduction p {
  z-index: 2;
  top: 15%;
  font-size: clamp(14px, 2.2vw, 1.8rem);
  text-align: center;
  width: 75%;
  margin: 0;
  color: #c91100;
  font-weight: 600;
  line-height: 40px;
}

#enTete{
  margin-bottom: 70px;
}


/*V2

.introduction {
  max-width: 800px;
}

#guirlande{ 
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  width: 100%;
  height: 357px;
  background-image: url("/images/cadre_guirlande.png");
}

#guirlande p {
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  color: #c91100;
}
*/

/*PHOTOS AVANT 1995*/
#oups {
  text-align: center;
  max-width: 500px;
  margin: auto;
  font-size: 15px;
  background-color: rgba(180, 0, 0, 0.9);
  color: white;
  opacity: 0.9;
  padding: 12px;
  border-radius: 20%;
  margin-bottom: 35px;
  display: none;
}

/* DATE */

input {
  font-size: 25px;
  margin: 10px 0;
}

a:link {
  text-decoration: none;
}

#input {
  text-align: center;
}

#input label {
  color:#c91100;
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
}

/* PHOTO DU JOUR */

#APOD {
  text-align: center;
}

#photo{
  width: 100%;
}

p {
  color: white;
  /* line-height: 24px; */
}

/* ASTEROIDE DU JOUR */

#NEO {
  padding-bottom: 150px;
}

#NEO .content {
  margin-top: 20px;
  align-items: flex-start;
}

#NEO #description {
  width: 400px;
}

#NEO ul,
li {
  margin-left: 20px;
  padding-left: 10px;
}

h4 {
  text-align: center;
  margin: auto;
  color: #3c73b5;
  font-size: 18px;
  margin: 0 20px 50px;
}

/* BLOCS DE CONTENU */

#contenu{
  display: none;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 14px;
  margin: auto;
}

.content h3 {
  color: rgba(60, 115, 181);
  text-align: left;
  margin: 0;
}

#content-picture {
  padding: 5px;
  max-width: 700px;
  margin: 0 auto; /*pas de marge verticale*/
  display: none;
}

#description {
  padding: 5px;
  max-width: 700px;
  margin: 0 auto; /*pas de marge verticale*/
  display: none;
}

#description p {
  background-color:rgba(60, 115, 181, 0.6);
  text-align: left;
  padding: 10px;
  margin: 0; /*pour que la description soit "collée" dessous*/
  margin-top: 15px;
}

#content-picture p {
  background-color: rgba(60, 115, 181, 0.6);
  text-align: left;
  padding: 10px;
  margin: 0; /*pour que la description soit "collée" dessous*/
  margin-top: 15px;
  border-radius: 20px;
}

.content img {
  max-width: 700px;
  max-height: 700px;
}

.image {
  justify-content: center;
  margin: auto;
}

#photo {
  box-shadow: 2px 2px 20px black;
  border-radius: 30px;
}

/* TERRE ET ASTEROIDES */

#earth {
  position: relative;
  height: 450px;
  width: 450px;
  margin-top: 50px;
  margin-bottom: 300px;
  margin: 0 auto; /*pas de marge verticale*/
  background-image: url(/images/terre_noel2.png);
  background-size: 450px;
  overflow: visible;
}

#moonContainer {
  position: absolute;
  top: -20px;
  left: -85px;
  width: 500px;
  height: 506px;
  /* border: 2px solid white; */
  border-radius: 228px;

  -webkit-animation-name: moonOrbit;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 15s;
}

#moon {
  position: absolute;
  top: -55px;
  left: 175px;
  width: 55px;
  height: 55px;
  background-image: url(/images/aste_noel.png);
  background-size: 55px;

  -webkit-animation-name: moonRotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 5s;
}

@-webkit-keyframes moonOrbit {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes moonRotate {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

#moonContainer2 {
  position: absolute;
  top: -10px;
  left: -80px;
  width: 500px;
  height: 450px;
  /* border: 2px solid white; */
  border-radius: 228px;

  -webkit-animation-name: moonOrbit;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 10s;
}

#moon2 {
  position: absolute;
  top: -55px;
  left: 175px;
  width: 40px;
  height: 40px;
  background-image: url(/images/aste_noel.png);
  background-size: 40px;

  -webkit-animation-name: moonRotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 10s;
}

/* INFOS ASTEROIDES */

#description .hide {
  display: none;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  font-style: italic;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  max-width: 400px;
}

#description img {
  filter: invert(1);
  height: 20px;
  width: 20px;
}





/*Tablette : entre 600 et 1024 pixels (en mode portrait)*/
@media screen and (max-width: 1024px) {
  #tampon{
    height: 100px;
    max-width: 220px;
    top: -100px;
    left: 170px;
  }
  h1 {
    font-size: 90px;
    left: 0;
    margin-top: 10px;
  }
  #planete{
    display: none;
  }
  #input{
    margin-top: 100px;
  }
  .introduction p {
    font-size: 20px;
    line-height: 30px;
  }
  h2 {
    font-size: 50px;
  }
  #earth {
    height: 300px;
    width: 300px;
    background-size: contain;
  }
  .image {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 800px) {
  #moonContainer, #moonContainer2{
    display: none;
  }
}

/*Mobile : entre 320 et 600 pixels (en mode portrait)*/
@media screen and (max-width: 600px) {
  #tampon{
    height: 90px;
    max-width: 200px;
    top: -80px;
    left: 130px;
  }
  h1 {
    font-size: 70px;
    left: 0;
  }
  #planete{
    display: none;
  }
  h2 {
    font-size: 40px;
    padding: 30px;
  }
  h4 {
    font-size: 15px;
  }
  #input label{
    font-size: 18px;
  }
  .introduction p {
    font-size: 16px;
    line-height: 22px;
  }
  #earth {
    height: 250px;
    width: 250px;
    background-size: contain;
  }
}
