@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap');

body {
  /* height: 100%;
  width: 100%; */
  margin: 0;
  /* background-image: url("/images/andy-holmes-rCbdp8VCYhQ-unsplash.jpg"); 
  background-size: cover; */
  font-family: 'Poppins', sans-serif;
}

#guirlandeImage{
  display: none;
}

/* MODE NOEL + ICONES */

#nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

#modeNoel{
  font-family: "Poppins", sans-serif;
  padding: 10px;
  margin: 10px;
  background-color: rgba(126,118,176, 0.85);
  color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 5px #001537;
}

/*EN TETE*/

#enTete{
  height: 100vh;
}

.parallax {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.parallax1{
  background-image: url("/images/andy-holmes-rCbdp8VCYhQ-unsplash.jpg");
}

.parallax2{
  background-image: url("/images/andy-holmes-rCbdp8VCYhQ-unsplash.jpg");
}

.parallax3{
  background-image: url("/images/pexels-francesco-ungaro-998641.jpg");
}

.parallax4{
  background-image: url("/images/aldebaran-s-qtRF_RxCAo0-unsplash.jpg");
}

#contenu{
  background-image: url("/images/pexels-shay-wood-574116.jpg");
  background-size: cover;
  display: none;
}

h1 {
  position: relative;
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 175px;
  margin-top: 50px;
  margin-bottom: 0;
  left: -65px;
}

h2 {
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  margin: 0;
  padding: 50px;
}

#planete {
  position: absolute;
  display: inline-block;
  height: 165px;
  width: 165px;
  filter: hue-rotate(250deg);
  /*background-image: url("/images/exploding-planet-with-transparent-background-psd-415168.png");
  background-size: contain;*/
  top: 22%;
  margin: 0;
  padding: 0;

  -webkit-animation-name: moonOrbit;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 15s;
}

.introduction {
  text-align: center;
  max-width: 900px;
  margin: auto;
  font-size: 25px;
  background-color: white;
  opacity: 0.7;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #001537;
}

.introduction p {
  padding: 15px;
  font-weight: 500;
  line-height: 25px;
  font-size: 20px;
  color: #001537;
}

/*PHOTOS AVANT 1995*/
#oups {
  text-align: center;
  max-width: 500px;
  margin: auto;
  font-size: 15px;
  background-color: #7e76b0;
  color: white;
  opacity: 0.9;
  padding: 12px;
  border-radius: 20%;
  margin-bottom: 35px;
  display: none;
}

/* DATE */

#input{
  padding-top: 30px;
}

input {
  font-size: 25px;
  margin-top: 10px;
}

a:link {
  text-decoration: none;
}

#input {
  text-align: center;
}

#input label {
  color: aliceblue;
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
}

/* PHOTO DU JOUR */

#APOD {
  text-align: center;
  padding-bottom: 70px;
}

#photo{
  width: 100%;
}

p {
  color: white;
  line-height: 24px;
}

/* ASTEROIDE DU JOUR */

#NEO {
  padding-bottom: 150px;
  /*margin: auto;*/
}

#NEO .content {
  margin-top: 20px;
  align-items: flex-start;
}

#NEO #description {
  width: 400px;
}

#NEO ul,
li {
  margin-left: 20px;
  padding-left: 10px;
}

h4 {
  text-align: center;
  margin: auto;
  color: white;
  font-size: 18px;
  margin: 0 20px 50px;
}

/* BLOCS DE CONTENU */

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 14px;
  margin: auto;
}

.content h3 {
  color: aliceblue;
  text-align: left;
  margin: 0;
}

#content-picture {
  padding: 5px;
  max-width: 700px;
  margin: 0 auto; /*pas de marge verticale*/
  display: none;
}

#description {
  padding: 5px;
  max-width: 700px;
  margin: 0 auto; /*pas de marge verticale*/
  display: none;
}

#description p {
  background-color: rgba(0, 0, 0, 0.65);
  text-align: left;
  padding: 10px;
  margin: 0; /*pour que la description soit "collée" dessous*/
  margin-top: 15px;
}

#content-picture p {
  text-align: left;
  margin: 0; /*pour que la description soit "collée" dessous*/
  margin-top: 15px;
}

.content img {
  max-width: 700px;
  max-height: 700px;
}

.image {
  justify-content: center;
  margin: auto;
}

#photo {
  box-shadow: 2px 2px 20px white;
  border-radius: 30px;
}

/* TERRE ET ASTEROIDES */

#earth {
  position: relative;
  height: 400px;
  width: 400px;
  margin-top: 50px;
  margin: 0 auto; /*pas de marge verticale*/
  background-image: url(/images/terre.png);
  background-size: 400px;
  overflow: visible;
  background-size: contain;
}

#moonContainer {
  position: absolute;
  top: -20px;
  left: -25px;
  width: 400px;
  height: 406px;
  /* border: 2px solid white; */
  border-radius: 228px;

  -webkit-animation-name: moonOrbit;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 15s;
}

#moon {
  position: absolute;
  top: -55px;
  left: 175px;
  width: 30px;
  height: 30px;
  background-image: url(/images/aste.png);
  background-size: 60px;

  -webkit-animation-name: moonRotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 5s;
}

@-webkit-keyframes moonOrbit {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes moonRotate {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

#moonContainer2 {
  position: absolute;
  top: -15px;
  left: -20px;
  width: 400px;
  height: 456px;
  /* border: 2px solid white; */
  border-radius: 228px;

  -webkit-animation-name: moonOrbit;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 10s;
}

#moon2 {
  position: absolute;
  top: -25px;
  left: 80px;
  width: 20px;
  height: 20px;
  background-image: url(/images/aste.png);
  background-size: 40px;

  -webkit-animation-name: moonRotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 10s;
}

/* INFOS ASTEROIDES */

#description .hide {
  display: none;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  font-style: italic;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  max-width: 400px;
}

#description img {
  filter: invert(1);
  height: 20px;
  width: 20px;
}

/*Tablette : entre 600 et 1024 pixels (en mode portrait)*/
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 115px;
  }
  h2 {
    font-size: 50px;
  }
  .introduction {
    margin: 0 20px;
  }
  #planete {
    height: 110px;
    width: 110px;
  }
  #earth {
    height: 300px;
    width: 300px;
    background-size: contain;
  }
  .image {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 800px) {
  #moonContainer, #moonContainer2{
    display: none;
  }
}

/*Mobile : entre 320 et 600 pixels (en mode portrait)*/
@media screen and (max-width: 600px) {
  html {
    margin: 1%;
  }
  h1 {
    font-size: 60px;
    left: 0;
  }
  h2 {
    font-size: 40px;
    padding: 30px;
  }
  h4 {
    font-size: 15px;
  }
  #planete {
    height: 70px;
    width: 70px;
  }
  .introduction p {
    font-size: 20px;
    line-height: 25px;
  }
  #earth {
    height: 250px;
    width: 250px;
    background-size: contain;
  }
}
